<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"  />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet" />
    	
    	<link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
		<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet" />
		<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    
	    <meta name="_csrf_header" content="${_csrf.headerName}" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    
	    <title>Create New Logbook</title>
	</head>
	
	<body>
	
		<div class="container">
	
			<form class="form-signin" th:object="${logbook}" th:action="@{/logbook/docreate}" method="post">
				
				<h2 class="form-signin-heading">Create a Logbook</h2>
				
				<label for="inputName" class="sr-only">Name</label> 
				<input type="text" name='name' id="inputName" class="form-control"
					th:field="*{name}"
					placeholder="Name" autofocus="autofocus" /> 
				<span class="label label-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				
				<p />
				
				<button class="btn btn-lg  btn-primary btn-block" type="submit">Submit</button>
	
			</form>
			
			<p />
			
			<form class="form-signin" th:action="@{/logbook/overview}" method="post">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Cancel</button>
			</form>
				
		</div>
	</body>
</html>
