<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
		
		<meta charset="ISO-8859-1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.js" type="text/javascript"></script>
		
		<script th:inline="javascript" type="text/javascript">
			/*<![CDATA[*/
	    	var errorMessageNewPass = "New passwords do not match"; // /* [[${UnmatchedPasswords.user.password}]] */
	    	var errorMessageOldPass = "Old password is incorrect"; // /* [[${UnmatchedPasswords.user.password}]] */
	    	/*]]>*/
			function onLoad() {
	    		//CSRF Stuff
				var token = $("input[name='_csrf']").val();
				var header= "X-­-CSRF-­-TOKEN";
				
				$(document).ajaxSend(function(e, xhr, options) {
					xhr.setRequestHeader(header, token);
				});
				
				// Check new passwords
				$("#inputNewPassword").keyup(checkMatchPasswords);
				$("#inputRepeat").keyup(checkMatchPasswords);
				
				// Trigger close account modal
				$(".triggerCloseAccount").click(function(e) {
        			e.preventDefault();
        			$("#confirmCloseAccount .closeAccountButton").attr("href", $(this).attr("href"));
        			$("#confirmCloseAccount").modal();
        		});
				
				// Set up tab navigation
				$('#tabwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});
			}
			
	    	// Alert popup if passwords don't match
			$(function () {
				$("#changePassword").click(function () {
					var newPassword = $("#inputNewPassword").val();
					var repeat = $("#inputRepeat").val();
					
					if (newPassword != repeat){
						alert(errorMessageNewPass);
						return false;
					} else if (oldPasswordInput != oldPasswordEncoded) {
						alert(errorMessageOldPass);
						return false;
					} else {
						return true;
					}
				});
			});
			
			// Display if passwords don't match
			function checkMatchPasswords() {
				var newPassword = $("#inputNewPassword").val();
				var repeat = $("#inputRepeat").val();
				
				/*<![CDATA[*/
				if(newPassword.length < 3 || repeat.length < 3) {
					return;
				}
				/*]]>*/
				if (newPassword != repeat) {
					$("#unmatchedNewPasswords").text(errorMessageNewPass);
				} else {
					$("#unmatchedNewPasswords").text("");
				} 
			}
		
			$(document).ready(onLoad);
		</script>
		
		<title>User Profile</title>
	</head>
	<body>
	
		<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="templates/header :: 'theme_header'"></nav>
		
		<div class="container theme-showcase" role="main">
		
			<h3>Editing Account Information</h3>
		
			<div th:if="${param.update}" class="alert alert-success" role="alert">
		       <div th:if="${param.user}"><strong>Account Updated!</strong> Successfully updated account with new details</div>
		       <div th:if="${param.pass}"><strong>Account Updated!</strong> Successfully updated password</div>
		    </div>
		
			<div id="tabwizard" class="tabbable tabs-left">
		    	<ul>
				  	<li><a href="#userdetails" data-toggle="tab">User Details</a></li>
				  	<li><a href="#changepassword" data-toggle="tab">Change Password</a></li>
				  	<li><a href="#closeaccount" data-toggle="tab">Close Account</a></li>
				</ul>
				
				<!-- Tabs for each category -->
		    
		    	<div class="tab-content">
		    		<div class="tab-pane" id="userdetails">
		    			<form class="form-signin" th:object="${user}" th:action="@{/profile/update}" method="post">
		    			
		    				<h2 class="form-signin-heading">New Account Details</h2>
			
							<label for="inputName" class="sr-only">Name</label> 
							<input type="text" name='name' id="inputName" class="form-control"
								th:field="*{name}"
								placeholder="Name" autofocus="autofocus" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
							
							<label for="inputEmail" class="sr-only">Email</label> 
							<input type="email" name='email' id="inputEmail" class="form-control"
								th:field="*{email}"
								placeholder="Email" />
							<span class="label label-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
							
							<p />
			
							<button class="btn btn-lg btn-primary btn-block" id="updateAccount" type="submit">Update</button>
		    			
		    			</form>
		    		</div>
		    		
		    		<div class="tab-pane" id="changepassword">
		    			<form class="form-signin" th:object="${user}" th:action="@{/profile/password}" method="post">
		    				
		    				<h2 class="form-signin-heading">Update Password</h2>
		    				
		    				<label for="inputOldPassword" class="sr-only">Old Password</label>
							<input type="password" name='oldPassword' id="inputOldPassword" class="form-control"	
								th:field="*{oldPassword}"
								placeholder="Old Password" />
							<span class="label label-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
		    			
		    				<label for="inputNewPassword" class="sr-only">New Password</label>
							<input type="password" name='password' id="inputNewPassword" class="form-control"	
								th:field="*{password}" 
								placeholder="New Password" />
							<span class="label label-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								
							<label for="inputRepeat" class="sr-only">Repeat Password</label>
							<input type="password" id="inputRepeat"	class="form-control"	
								placeholder="Repeat Password" />
							<span class="label label-danger" id="unmatchedNewPasswords"></span>
							
							<p />
			
							<button class="btn btn-lg btn-primary btn-block" id="changePassword" type="submit">Submit</button>
							
		    			</form>
		    		</div>
		    		
		    		<div class="tab-pane" id="closeaccount">
		    			<div class="alert alert-danger" role="alert">
					        <strong>Close Account - </strong> Click below to delete your EasyLogbook account. 
					    </div>
					    
					    <p />
					    
					    <div class="form-signin">
					    	<a class="btn btn-lg btn-primary btn-block triggerCloseAccount" th:href="@{/user/close}">Close Account</a>
					    </div>
		    		</div>
		    	</div>
	    	</div>
	    	
	    	<div class="page-header">
	    	 
	    	</div>
		
			<div class="inner" th:replace="templates/footer :: 'footer'"></div>
			
			<!-- Confirm Close Account Modal -->
	        <div class="modal fade" id="confirmCloseAccount" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Confirm Close Account</h4>
			      </div>
			      <div class="modal-body">
			        <p>ALL logbook information associated with this account will be deleted and cannot be undone. Are you sure you wish to close your account?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <a class="btn btn-sm btn-danger closeAccountButton" th:href="@{/profile/view}">Close Account</a>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		
		</div>
		
	</body>
</html>