<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
		
		<meta charset="ISO-8859-1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.js" type="text/javascript"></script>
	    
	    <script th:inline="javascript" type="text/javascript">
	    	function onLoad() {
	    		
	    		// Modal delete triggers
	    		$(".triggerLicenseDelete").click(function(e) {
        			e.preventDefault();
        			$("#confirmDelete .deleteButton").attr("href", $(this).attr("href"));
        			$("#confirmDelete").modal();
        		});
	    		
	    		$(".triggerMedicalDelete").click(function(e) {
        			e.preventDefault();
        			$("#confirmDelete .deleteButton").attr("href", $(this).attr("href"));
        			$("#confirmDelete").modal();
        		});
	    		
	    		$(".triggerExamDelete").click(function(e) {
        			e.preventDefault();
        			$("#confirmDelete .deleteButton").attr("href", $(this).attr("href"));
        			$("#confirmDelete").modal();
        		});
	    		
	    		$(".triggerTypeRatingDelete").click(function(e) {
        			e.preventDefault();
        			$("#confirmDelete .deleteButton").attr("href", $(this).attr("href"));
        			$("#confirmDelete").modal();
        		});
	    		
	    		$(".triggerEndorsementDelete").click(function(e) {
        			e.preventDefault();
        			$("#confirmDelete .deleteButton").attr("href", $(this).attr("href"));
        			$("#confirmDelete").modal();
        		});
	    		
	    		// Set up tab navigation
				$('#tabwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});
	    	}
	    	
	    	$(document).ready(onLoad);
	    </script>
	    
	    <title>Pilot Details</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="templates/header :: 'theme_header'"></nav>
		
		<div class="container theme-showcase" role="main">
	      	<div id="tabwizard" class="tabbable tabs-left">
		    	<ul>
				  	<li><a href="#licenses" data-toggle="tab">Licenses and Ratings</a></li>
				  	<li><a href="#medicals" data-toggle="tab">Medical</a></li>
				  	<li><a href="#examinations" data-toggle="tab">Checkrides and Exams</a></li>
				  	<li><a href="#typeratings" data-toggle="tab">Type Ratings</a></li>
				  	<li><a href="#endorsements" data-toggle="tab">Endorsements</a></li>
				</ul>
				
				<!-- Tabs for each category -->
		    
		    	<div class="tab-content">
		    	
		    		<div class="tab-pane" id="licenses">
		    			
		    			<p/>
		    			
		    			<div th:if="${pilotLicenseDetails.size() == 0}" class="alert alert-info" role="alert">
				        	<strong>Getting Started -</strong> Click 'Add License/Rating' below to add your first license or rating
				      	</div>
				      	
				      	<div th:if="${pilotLicenseDetails.size() > 0}" class="col-md-6">
				          <table class="table table-striped">
				            <thead>
				              <tr>
				                <th>License</th>
				                <th>Category</th>
				                <th>Class</th>
				                <th>Date</th>
				                <th> </th>
				              </tr>
				            </thead>
				            <tbody>
				              <tr th:each="licenseDetail : ${pilotLicenseDetails}">
						        <td>
						        	<a class="btn btn-sm btn-default triggerEdit" 
						        		th:href="@{/details/create(id=${licenseDetail.id}, edit=true, type=${T(com.chrisali.easylogbook.services.PilotDetailsService.PilotDetailsType).LICENSES.name()})}" 
						        		th:inline="text">[[${licenseDetail.pilotLicense}]]</a>
						        </td>
						        <td th:text="${licenseDetail.classRating}">
						        </td>
						        <td th:text="${licenseDetail.categoryRating}">
						        </td>
						        <td th:text="${licenseDetail.date}">
						        </td>
						        <td>
						        	<a class="btn btn-sm btn-danger triggerLicenseDelete" th:href="@{/details/delete(id=${licenseDetail.id})}">Delete</a>
								</td>
						      </tr>
				            </tbody>
				          </table>
				        </div>
				        
				        <div class="page-header">
							<a class="btn btn-primary" th:href="@{/details/create(type=${T(com.chrisali.easylogbook.services.PilotDetailsService.PilotDetailsType).LICENSES.name()})}">Add License/Rating</a>
						</div>
		    		</div>
		    		
		    		<div class="tab-pane" id="medicals">
		    			Medical Certificate goes here
		    		</div>
		    		
		    		<div class="tab-pane" id="examinations">
		    			Checkrides etc goes here
		    		</div>
		    		
		    		<div class="tab-pane" id="typeratings">
		    			Type ratings go here
		    		</div>
		    		
		    		<div class="tab-pane" id="endorsements">
		    			Endorsements go here
		    		</div>
		    	</div>
		    </div>
		    
		    <!-- Confirm Delete Modal -->
	        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Confirm Delete</h4>
			      </div>
			      <div class="modal-body">
			        <p>Are you sure you wish to delete this entry?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <a class="btn btn-sm btn-danger deleteButton" th:href="@{/details/view}">Delete</a>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
	      	
	      	<div class="inner" th:replace="templates/footer :: 'footer'"></div>	
		</div>
	</body>
</html>