<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"  />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet" />
    	
    	<link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
		<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet" />
		<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" rel="stylesheet" />
		<link href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.js" type="text/javascript"></script>
	
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    
	    <meta name="_csrf_header" content="${_csrf.headerName}" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    
	    <title>Create New Logbook Entry</title>
	</head>
	
	<body>
	
		<div class="container">
	
			<form class="form-signin" th:object="${logbookEntry}" th:action="@{/entry/docreate}" method="post">
				
				<h2 class="form-signin-heading" th:if="${param.edit == null}">Create Logbook Entry</h2>
				<h2 class="form-signin-heading" th:if="${param.edit}">Edit Logbook Entry</h2>
				
				<!-- Date -->
				
				<label for="inputDate">Date</label> <!-- class="sr-only" -->
		        <div class="input-group">
		        	<div class="input-group-addon">
		         		<i class="fa fa-calendar"></i>
		         	</div>
		         	<input class="form-control" id="inputDate" name="date" th:field="*{date}" placeholder="MM/DD/YYYY" type="text"/>
		        </div>
		        <span class="label label-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
		        
		        <!-- Aircraft -->

				<label for="inputAircraft">Aircraft</label>
			    <select class="form-control" id="inputAircraft" name="aircraftId" >
			        <option th:each="aircraft : ${aircraftList}" th:value="${aircraft.id}" th:text="${aircraft.tailNumber}" />
			    </select>
			    
			    <div id="tabwizard" class="tabbable tabs-left">
			    	<ul>
					  	<li><a href="#route" data-toggle="tab">Route of Flight</a></li>
						<li><a href="#category" data-toggle="tab">Category/Class</a></li>
						<li><a href="#conditions" data-toggle="tab">Conditions of Flight</a></li>
						<li><a href="#piloting" data-toggle="tab">Type of Piloting</a></li>
					</ul>
					
					<!-- Tabs for each category -->
			    
			    	<div class="tab-content">
			    		
			    		<!-- Route -->
			    		
					    <div class="tab-pane" id="route">
					      	<label for="inputOrigin" class="sr-only">Origin</label> 
							<input type="text" name='origin' id="inputOrigin" class="form-control"
								th:field="*{origin}"
								placeholder="Origin" autofocus="autofocus" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"></span>
							
							<label for="inputDestination" class="sr-only">Destination</label> 
							<input type="text" name='destination' id="inputDestination" class="form-control"
								th:field="*{destination}"
								placeholder="Destination" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></span>
							
							<label for="inputInstrumentApproaches">Instrument Approaches</label> 
							<input type="text" name='instrumentApproaches' id="inputInstrumentApproaches" class="form-control"
								th:field="*{instrumentApproaches}"
								placeholder="Instrument Approaches" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('instrumentApproaches')}" th:errors="*{instrumentApproaches}"></span>
							
							<label for="inputDayLandings">Day Landings</label> 
							<input type="text" name='DayLandings' id="inputDayLandings" class="form-control"
								th:field="*{dayLandings}"
								placeholder="Day Landings" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('dayLandings')}" th:errors="*{dayLandings}"></span>
							
							<label for="inputNightLandings">Night Landings</label> 
							<input type="text" name='nightLandings' id="inputNightLandings" class="form-control"
								th:field="*{NightLandings}"
								placeholder="Night Landings" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('nightLandings')}" th:errors="*{nightLandings}"></span>
					    </div>
					    
					    <!-- Category/Class -->
					    
					    <div class="tab-pane" id="category">
					    	<label for="inputAirplaneSel">Airplane SEL</label> 
							<input type="text" name='airplaneSel' id="inputAirplaneSel" class="form-control"
								th:field="*{airplaneSel}"
								placeholder="Airplane SEL" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('airplaneSel')}" th:errors="*{airplaneSel}"></span>
							
							<label for="inputAirplaneMel">Airplane MEL</label> 
							<input type="text" name='airplaneMel' id="inputAirplaneMel" class="form-control"
								th:field="*{airplaneMel}"
								placeholder="Airplane MEL" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('airplaneMel')}" th:errors="*{airplaneMel}"></span>
							
							<label for="inputTurbine">Turbine</label> 
							<input type="text" name='turbine' id="inputTurbine" class="form-control"
								th:field="*{turbine}"
								placeholder="Turbine" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('turbine')}" th:errors="*{turbine}"></span>
							
							<label for="inputGlider">Glider</label> 
							<input type="text" name='Glider' id="inputGlider" class="form-control"
								th:field="*{glider}"
								placeholder="glider" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('glider')}" th:errors="*{glider}"></span>
							
							<label for="inputRotorcraft">Rotorcraft</label> 
							<input type="text" name='Rotorcraft' id="inputRotorcraft" class="form-control"
								th:field="*{rotorcraft}"
								placeholder="Rotorcraft" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('rotorcraft')}" th:errors="*{rotorcraft}"></span>
					    </div>
					    
					    <!-- Conditions of Flight -->
					    
						<div class="tab-pane" id="conditions">
							<label for="inputNight">Night</label> 
							<input type="text" name='night' id="inputNight" class="form-control"
								th:field="*{night}"
								placeholder="Night" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('night')}" th:errors="*{night}"></span>
							
							<label for="inputActualInstrument">Actual Instrument</label> 
							<input type="text" name='actualInstrument' id="inputActualInstrument" class="form-control"
								th:field="*{actualInstrument}"
								placeholder="Actual Instrument" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('actualInstrument')}" th:errors="*{actualInstrument}"></span>
							
							<label for="inputSimulatedInstrument">Simulated Instrument</label> 
							<input type="text" name='simulatedInstrument' id="inputSimulatedInstrument" class="form-control"
								th:field="*{simulatedInstrument}"
								placeholder="Simulated Instrument" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('simulatedInstrument')}" th:errors="*{simulatedInstrument}"></span>
							
							<label for="inputGroundTrainer">Ground Trainer</label> 
							<input type="text" name='groundTrainer' id="inputGroundTrainer" class="form-control"
								th:field="*{groundTrainer}"
								placeholder="Ground Trainer" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('groundTrainer')}" th:errors="*{groundTrainer}"></span>
					    </div>
					    
					    <!-- Type of Piloting -->
					    
						<div class="tab-pane" id="piloting">
							<label for="inputCrossCountry">Cross Country</label> 
							<input type="text" name='crossCountry' id="inputCrossCountry" class="form-control"
								th:field="*{crossCountry}"
								placeholder="Cross Country" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('crossCountry')}" th:errors="*{crossCountry}"></span>
							
							<label for="inputDualReceived">Dual Received</label> 
							<input type="text" name='dualReceived' id="inputDualReceived" class="form-control"
								th:field="*{dualReceived}"
								placeholder="Dual Received" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('dualReceived')}" th:errors="*{dualReceived}"></span>
							
							<label for="inputDualGiven">Dual Given</label> 
							<input type="text" name='dualGiven' id="inputDualGiven" class="form-control"
								th:field="*{dualGiven}"
								placeholder="Dual Given" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('dualGiven')}" th:errors="*{dualGiven}"></span>
							
							<label for="inputPilotInCommand">Pilot in Command</label> 
							<input type="text" name='pilotInCommand' id="inputPilotInCommand" class="form-control"
								th:field="*{pilotInCommand}"
								placeholder="Pilot in Command" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('pilotInCommand')}" th:errors="*{pilotInCommand}"></span>
							
							<label for="inputSecondInCommand">Second in Command</label> 
							<input type="text" name='secondInCommand' id="inputSecondInCommand" class="form-control"
								th:field="*{secondInCommand}"
								placeholder="Second in Command" /> 
							<span class="label label-danger" th:if="${#fields.hasErrors('secondInCommand')}" th:errors="*{secondInCommand}"></span>
					    </div>
					    
						<ul class="pager wizard">
							<li class="previous first" style="display:none;"><a href="#">First</a></li>
							<li class="previous"><a href="#">Previous</a></li>
							<li class="next last" style="display:none;"><a href="#">Last</a></li>
						  	<li class="next"><a href="#">Next</a></li>
						</ul>
					</div>
			    </div>

				<!-- Remarks -->
				
				<p />
				
				<label for="inputRemarks">Remarks</label> 
				<textarea name='remarks' rows="4" id="inputRemarks" class="form-control"
					th:field="*{remarks}"
					placeholder="Remarks"></textarea> 
				<span class="label label-danger" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></span>
				
				<!-- Total -->
				
				<p />
				
				<label for="inputTotalDuration">Total Duration</label> 
				<input type="text" name='totalDuration' id="inputTotalDuration" class="form-control"
					th:field="*{totalDuration}"
					placeholder="Total Duration" /> 
				<span class="label label-danger" th:if="${#fields.hasErrors('totalDuration')}" th:errors="*{totalDuration}"></span>
				
				<p />
				
				<button class="btn btn-lg  btn-primary btn-block" type="submit">Submit</button>
				
				<p />
			
				<a class="btn btn-lg btn-primary btn-block" th:href="@{/logbook/show(id=${logbook.id})}">Cancel</a>
			</form>
		</div>
		
		<!-- DatePicker Script -->
		<script>
			$(document).ready(function(){
				var date_input=$('input[name="date"]'); //our date input has the name "date"
				var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
				date_input.datepicker({
					format: 'mm/dd/yyyy',
					container: container,
					todayHighlight: true,
					autoclose: true,
				});
				
				$('#tabwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});
			})
		</script>
		
	</body>
</html>