<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet" />
		
		<meta charset="ISO-8859-1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
	
		<!-- Header from "Theme" Theme -->
		
		<!-- Fixed navbar -->
	    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="theme_header">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" th:href="@{/}">Easy Logbook</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li></li>
	            <li th:class="${activeClassLogbook}"><a th:href="@{/logbook/overview}">Logbooks</a></li>
	            <li th:class="${activeClassAircraft}"><a th:href="@{/aircraft/overview}">Aircraft</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a th:href="@{/profile/view}">My Profile</a></li>
	                <li><a th:href="@{/details/view}">Pilot Details</a></li>
	                <li role="separator" class="divider"></li>
	                <li class="dropdown-header"></li>
	                <li><a href="user/logout" th:href="@{#}" onclick="$('#form').submit();">Log Out</a></li>
	              </ul>
	            </li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	      
	      <!-- CSRF Logout Protection Form -->
          <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/user/logout}"></form>
	    </nav>
	    
	    <!-- Header from Cover Theme -->
	    
	    <div class="masthead clearfix" th:fragment="cover_header">
          <div class="inner">
            <h3 class="masthead-brand">Easy Logbook</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li th:class="${activeClassHome}"><a th:href="@{/}">Home</a></li>
                <li th:class="${activeClassFeatures}"><a th:href="@{/features}">Features</a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/user/login}">Log in</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/profile/view}">Profile</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/user/logout" th:href="@{#}" onclick="$('#form').submit();">Log out</a></li>
              </ul>
            </nav>
          </div>
          
          <!-- CSRF Logout Protection Form -->
          <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/user/logout}"></form>
        </div>

	</body>
</html>