<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />
    	<link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    	<link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    
		<title>Easy Logbook</title>
	</head>
	<body role="document">

	    <div class="site-wrapper">
	
	      <div class="site-wrapper-inner">
	
	        <div class="cover-container">
	
	          <div class="masthead clearfix" th:replace="templates/header :: 'cover_header'"></div>
	          	
	          <div sec:authorize="!isAuthenticated()" class="inner cover">
	            <h1 class="cover-heading">Log your flights online</h1>
	            <p class="lead">Easy Logbook is a free and easy way for pilots to log their flight time online and keep track of their currency</p>
	            <p class="lead">
	              <a th:href="@{/user/create}" class="btn btn-lg btn-default">Get Started</a>
	            </p>
	          </div>
	          
	          <div sec:authorize="isAuthenticated()" class="inner cover">
	            <h1 class="cover-heading" th:inline="text">Hello, [[${user.name}]]</h1>
	            <p class="lead">
	              <a th:href="@{/logbook/overview}" class="btn btn-default">View Your Logbooks</a>
	            </p>
	            <p class="lead">
	            	<a th:href="@{/aircraft/overview}" class="btn btn-default">View Aircraft</a>
            	</p>
            	<p class="lead">
	              <a th:href="@{/details/view}" class="btn btn-default">View Pilot Details</a> 
	            </p>
	          </div>
	
	          <div class="mastfoot">
	            <div class="inner" th:replace="templates/footer :: 'footer'"></div>
	          </div>
	          
	        </div>
	      </div>
	    </div>
	    
	    <script type="text/javascript" th:inline="javascript">
	    	$(document).ready(function(){
	    		/*<![CDATA[*/
	            var expirations = /*[[${upcomingExpirations.size()}]]*/ 0;
	          	/*]]>*/
	    		if (expirations > 0)
	    			$("#expirationModal").modal();
	    	});
	    </script>
	    
	    <!-- Currency expiration modal -->
        <div sec:authorize="isAuthenticated()" class="modal fade" id="expirationModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Upcoming Currency</h4>
		      </div>
		      <div class="modal-body">
		        <p><strong>Be Advised!</strong> Currency for the following are expiring this month:</p>
		        <p th:if="${upcomingEpirations != null}">
		        	<span th:each="expiration : ${upcomingExpirations}" th:inline="text">[[${expiration.getExam()}]]<br/></span>
		        </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
  </body>
</html>