<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />
    	<link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
		<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    
	    <title>Logged Out</title>
	</head>
	
	<body>
	
		<div class="container">
	
			<div class="form-signin">
				
				<h2 class="form-signin-heading">You are logged out</h2>
				<p/>
				<form th:action="@{/user/login}">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Log in Again</button>
				</form> 
				<p/>
				<form th:action="@{/}">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Back to Home Page</button>
				</form>
			</div>
		</div>
	</body>
</html>