<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
	    <link href="../resources/static/css/logbook.css" rel="stylesheet" />
		
		<meta charset="ISO-8859-1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
	    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
		
		<title>Logbook</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="templates/header :: 'theme_header'"></nav>
		
		<div class="container theme-showcase" role="main">
		
			<div th:if="${logbookEntries.size() == 0 and aircraftList.size() > 0}" class="alert alert-info" role="alert">
	        	<strong>Getting Started -</strong> Click 'Create Entry' below to create the first logbook entry
	      	</div>

	      	<div th:if="${aircraftList.size() == 0}" class="alert alert-info" role="alert">
	        	<strong>First Aircraft -</strong> To create a logbook entry you need to have at least one aircraft. Click <a th:href="@{aircraft/create}">here</a> to create one
	      	</div>
			
			<div th:if="${logbookEntries.size() > 0}">
	          <table class="table table-condensed">
	            <thead>
	              <tr>
	                <th>Date</th>
	                <th>Origin</th>
	                <th>Destination</th>
	                <th>Tail Number</th>
	                <th>Make</th>
	                <th>Model</th>
	                <th>Instrument Approaches</th>
	                <th>Day Landings</th>
	                <th>Night Landings</th>
	                <th>Airplane SEL</th>
	                <th>Airplane MEL</th>
	                <th>Turbine</th>
	                <th>Glider</th>
	                <th>Rotorcraft</th>
	                <th>Night</th>
	                <th>Actual Instrument</th>
	                <th>Simulated Instrument</th>
	                <th>Ground Trainer</th>
	                <th>Cross Country</th>
	                <th>Dual Received</th>
	                <th>Dual Given</th>
	                <th>Pilot in Command</th>
	                <th>Second in Command</th>
	                <th>Total Duration</th>
	                <th>Remarks</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr th:each="entry : ${logbookEntries}">
			        <td>
			        	<a class="btn btn-sm btn-default" th:href="@{/entry/create(logbookId=${logbook.id}, edit=true, entryId=${entry.id})}" th:inline="text">[[${entry.date}]]</a>
					</td>
			        <td th:text="${entry.origin}"></td>
			        <td th:text="${entry.destination}"></td>
			        <td th:text="${entry.aircraft.tailNumber}"></td>
			        <td th:text="${entry.aircraft.make}"></td>
			        <td th:text="${entry.aircraft.model}"></td>
			        <td th:text="${entry.instrumentApproaches}"></td>
			        <td th:text="${entry.dayLandings}"></td>
			        <td th:text="${entry.nightLandings}"></td>
			        <td th:text="${entry.airplaneSel}"></td>
			        <td th:text="${entry.airplaneMel}"></td>
			        <td th:text="${entry.turbine}"></td>
			        <td th:text="${entry.glider}"></td>
			        <td th:text="${entry.rotorcraft}"></td>
			        <td th:text="${entry.night}"></td>
			        <td th:text="${entry.actualInstrument}"></td>
			        <td th:text="${entry.simulatedInstrument}"></td>
			        <td th:text="${entry.groundTrainer}"></td>
			        <td th:text="${entry.crossCountry}"></td>
			        <td th:text="${entry.dualReceived}"></td>
			        <td th:text="${entry.dualGiven}"></td>
			        <td th:text="${entry.pilotInCommand}"></td>
			        <td th:text="${entry.secondInCommand}"></td>
			        <td th:text="${entry.totalDuration}"></td>
			        <td th:text="${entry.remarks}"></td>
			        <td>
			        	<a class="btn btn-sm btn-danger triggerDelete" th:href="@{/entry/delete(logbookId=${logbook.id}, entryId=${entry.id})}">Delete</a>
					</td>
			      </tr>
	            </tbody>
	            <tfoot>
	              <tr>
			        <td><strong>Totals:</strong></td>
			        <td></td>
			        <td></td>
			        <td></td>
			        <td></td>
			        <td></td>
			        <td th:text="${totals.instrumentApproaches}"></td>
			        <td th:text="${totals.dayLandings}"></td>
			        <td th:text="${totals.nightLandings}"></td>
			        <td th:text="${totals.airplaneSel}"></td>
			        <td th:text="${totals.airplaneMel}"></td>
			        <td th:text="${totals.turbine}"></td>
			        <td th:text="${totals.glider}"></td>
			        <td th:text="${totals.rotorcraft}"></td>
			        <td th:text="${totals.night}"></td>
			        <td th:text="${totals.actualInstrument}"></td>
			        <td th:text="${totals.simulatedInstrument}"></td>
			        <td th:text="${totals.groundTrainer}"></td>
			        <td th:text="${totals.crossCountry}"></td>
			        <td th:text="${totals.dualReceived}"></td>
			        <td th:text="${totals.dualGiven}"></td>
			        <td th:text="${totals.pilotInCommand}"></td>
			        <td th:text="${totals.secondInCommand}"></td>
			        <td th:text="${totals.totalDuration}"></td>
			       </tr>
	            </tfoot>
	          </table>
	        </div>
	        
	        <!-- JQuery to activate modal edit/delete functions -->
	        <script type="text/javascript">
	        	$(document).ready(function() {
	        		$(".triggerDelete").click(function(e) {
	        			e.preventDefault();
	        			$("#confirmDelete .deleteButton").attr("href", $(this).attr("href"));
	        			$("#confirmDelete").modal();
	        		});
	        	});
	        </script>
	        
	        <!-- Confirm Delete Modal -->
	        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Confirm Delete</h4>
			      </div>
			      <div class="modal-body">
			        <p>Are you sure you wish to delete this entry?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <a class="btn btn-sm btn-danger deleteButton" th:href="@{/logbook/show(id=${logbook.id})}">Delete</a>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
	        
			<div class="page-header">
				<a th:if="${aircraftList.size() > 0}" class="btn btn-primary" th:href="@{/entry/create(logbookId=${logbook.id})}">Create Entry</a>
			</div>
			
			<div class="inner" th:replace="templates/footer :: 'footer'"></div>
		</div>
	</body>
</html>