<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
		
		<meta charset="ISO-8859-1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	    
	    <title>Logbooks</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="templates/header :: 'theme_header'"></nav>
		
		<div class="container theme-showcase" role="main">
		
			<div th:if="${logbooks.size() == 0}" class="alert alert-info" role="alert">
	        	<strong>Getting Started -</strong> Click 'Create Logbook' below to create your first logbook
	      	</div>
			
			<div th:if="${logbooks.size() > 0}" >
			  <div class="panel panel-primary">
				  <div class="panel-heading">
	              	  <h3 class="panel-title">Logbooks</h3>
	              </div>
	              <div class="panel-body">
			          <table class="table table-striped">
			            <thead>
			              <tr>
			                <th></th>
			                <th></th>
			                <th>Single Engine</th>
			                <th>Multi Engine</th>
			                <th>Turbine</th>
			                <th>Pilot in Command</th>
			                <th>Cross Country</th>
			                <th>Total Time</th>
			                <th></th>
			              </tr>
			            </thead>
			            <tbody>
			              <tr th:each="logbook : ${logbooks}">
					        <td>
					        	<a class="btn btn-sm btn-default" th:href="@{/logbook/show(id=${logbook.id})}" th:inline="text">[[${logbook.name}]]</a>
					        </td>
					        <td>
					        	<a class="btn btn-sm btn-default triggerEdit" th:href="@{/logbook/edit(id=${logbook.id})}">Edit</a>
							</td>
					        <td th:text="${logbookTotals[__${logbook.id}__].airplaneSel}">
					        </td>
					        <td th:text="${logbookTotals[__${logbook.id}__].airplaneMel}">
					        </td>
					        <td th:text="${logbookTotals[__${logbook.id}__].turbine}">
					        </td>
					        <td th:text="${logbookTotals[__${logbook.id}__].pilotInCommand}">
					        </td>
					        <td th:text="${logbookTotals[__${logbook.id}__].crossCountry}">
					        </td>
					        <td th:text="${logbookTotals[__${logbook.id}__].totalDuration}">
					        </td>
							<td>
					        	<a class="btn btn-sm btn-danger triggerDelete" th:href="@{/logbook/delete(id=${logbook.id})}">Delete</a>
							</td>
					      </tr>
			            </tbody>
			            <tfoot th:if="${logbooks.size() > 1}">
			              <tr>
			                <td><strong>Overall Totals</strong></td>
			                <td></td>
			              	<td th:text="${overallTotals.airplaneSel}"></td>
			              	<td th:text="${overallTotals.airplaneMel}"></td>
			              	<td th:text="${overallTotals.turbine}"></td>
			              	<td th:text="${overallTotals.pilotInCommand}"></td>
			              	<td th:text="${overallTotals.crossCountry}"></td>
			              	<td th:text="${overallTotals.totalDuration}"></td>
			              </tr>	
			            </tfoot>
			          </table>
			      </div>
		      </div>
	        </div>
	        
	        <!-- JQuery to activate modal edit/delete functions -->
	        <script type="text/javascript">
	        	$(document).ready(function() {
	        		$(".triggerDelete").click(function(e) {
	        			e.preventDefault();
	        			$("#confirmDelete .deleteButton").attr("href", $(this).attr("href"));
	        			$("#confirmDelete").modal();
	        		});
	        		
	        		$(".triggerEdit").click(function(e) {
	        			e.preventDefault();
	        			$("#confirmEdit .editButton").attr("href", $(this).attr("href"));
	        			$("#confirmEdit").modal();
	        		});
	        	});
	        </script>
	        
	        <!-- Confirm Delete Modal -->
	        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Confirm Delete</h4>
			      </div>
			      <div class="modal-body">
			        <p>Deleting this logbook will remove ALL entries associated with it. Are you sure you wish to delete?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <a class="btn btn-sm btn-danger deleteButton" th:href="@{/logbook/overview}">Delete</a>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- Edit Modal -->
	        <div class="modal fade" id="confirmEdit" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Edit Name</h4>
			      </div>
			      <div class="modal-body">
			        <p>Edit Form Here</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <a class="btn btn-sm btn-danger deleteButton" th:href="@{/logbook/overview}">Edit</a>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
	        
			<div class="page-header">
				<a class="btn btn-primary" th:href="@{/logbook/create}">Create Logbook</a>
			</div>
		
			<div class="inner" th:replace="templates/footer :: 'footer'"></div>
		</div>
	</body>
</html>