<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Bootstrap core CSS -->
	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
	    <!-- Bootstrap theme -->
	    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
	    <!-- Custom styles for this template -->
	    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
		
		<meta charset="ISO-8859-1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Logbook</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="templates/header :: 'header'"></nav>
		
		<div class="container theme-showcase" role="main">
		
			<div th:if="${logbookEntries.size() == 0}" class="alert alert-info" role="alert">
	        	<strong>Getting Started</strong> Click 'Create Entry' below to create the first logbook entry
	      	</div>
			
			<div>
				<form th:action="@{/createentry}">
					<button class="btn btn-primary" type="submit">Create Entry</button>
				 </form>
			</div>
			
			<div th:if="${logbookEntries.size() > 0}" class="col-md-6">
	          <table class="table table-striped">
	            <thead>
	              <tr>
	                <th>Date</th>
	                <th>Tail Number</th>
	                <th>Make</th>
	                <th>Model</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr th:each="entry : ${logbookentries}">
			        <td th:text="${entry.date}"></td>
			        <td th:text="${entry.tailNumber}"></td>
			        <td th:text="${entry.make}"></td>
			        <td th:text="${entry.model}"></td>
			        <td th:text="${entry.origin}"></td>
			        <td th:text="${entry.destination}"></td>
			      </tr>
	            </tbody>
	          </table>
	        </div>
			
			<div class="inner" th:replace="templates/footer :: 'footer'"></div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>