<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Bootstrap core CSS -->
	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
	    <!-- Bootstrap theme -->
	    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
	    <!-- Custom styles for this template -->
	    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
		
		<meta charset="ISO-8859-1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Logbooks</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="templates/header :: 'header'"></nav>
		
		<div class="container theme-showcase" role="main">
		
			<div th:if="${logbooks.size() == 0}" class="alert alert-info" role="alert">
	        	<strong>Getting Started</strong> Click 'Create Logbook' below to create your first logbook
	      	</div>
			
			<div th:if="${logbooks.size() > 0}" class="col-md-6">
	          <table class="table table-striped">
	            <thead>
	              <tr>
	                <th>My Logbooks</th>
	                <th>Total Time</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr th:each="logbook : ${logbooks}">
			        <td>
			        	<a class="btn btn-default" th:href="@{/singlelogbook(id=${logbook.id})}" th:inline="text">[[${logbook.name}]]</a>
			        </td>
			        <td>
			        
			        </td>
			        <td>
			        	<a class="btn btn-sm btn-danger" th:href="@{/deletelogbook(id=${logbook.id})}">Delete</a>
					</td>
			      </tr>
	            </tbody>
	          </table>
	        </div>
	        
			<div class="page-header">
				<form th:action="@{/createlogbook}">
					<button class="btn btn-primary" type="submit">Create Logbook</button>
				 </form>
			</div>
		
			<div class="inner" th:replace="templates/footer :: 'footer'"></div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>