<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
	    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
	    <link href="../resources/static/css/admin.css" rel="stylesheet" />
		
		<meta charset="ISO-8859-1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!-- Default header name is	X-CSRF-TOKEN -->
		<meta name="_csrf" th:content="${_csrf.token}"/>
		
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	    <script src="../resources/static/js/jquery.twbsPagination.min.js" type="text/javascript"></script>
	    
	    <title>Admin</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="templates/header :: 'theme_header'"></nav>
		
		<div class="container theme-showcase" role="main">
		  <div class="panel panel-primary">
			  <div class="panel-heading">
              	  <h3 class="panel-title">User List</h3>
              </div>
              <div class="panel-body">
		          <table class="table table-striped">
		            <thead>
		              <tr>
		                <th>User Name</th>
		                <th>Name</th>
		                <th>Authority</th>
		                <th>Enabled</th>
		                <th> </th>
		              </tr>
		            </thead>
		            <tbody>
		              <tr th:each="user : ${usersList}">
				        <td>
				        	<a class="btn btn-sm btn-default triggerEdit" th:id="${user.username}" th:href="@{/admin/edituser}" th:inline="text">[[${user.username}]]</a>
				        </td>
				        <td th:text="${user.name}">
				        </td>
				        <td th:text="${user.authority}">
				        </td>
				        <td th:text="${user.enabled}">
				        </td>
				        <td>
				        	<a class="btn btn-sm btn-danger triggerDelete" th:href="@{/admin/delete(username=${user.username})}">Delete</a>
						</td>
				      </tr>
		            </tbody>
		          </table>
		        </div>
				
				<ul id="pagination" class="pagination-sm pageBar"></ul>
	        </div>
	        
	        <!-- JQuery to activate modal edit/delete functions -->
	        <script type="text/javascript" th:inline="javascript">
	        	$(document).ready(function() {
	        		
	        		// Adds CSRF token
	        		var token = $("meta[name='_csrf']").attr("content");
	        		var header = "X-CSRF-TOKEN";
					
					$(document).ajaxSend(function(e, xhr, options) {
						xhr.setRequestHeader(header, token);
					});
	        		
	        		$(".triggerDelete").click(function(e) {
	        			e.preventDefault();
	        			$("#confirmDelete .deleteButton").attr("href", $(this).attr("href"));
	        			$("#confirmDelete").modal();
	        		});
	        		
	        		$(".triggerEdit").click(function(e) {
	        			e.preventDefault();
	        			$("#editModal .editButton").attr("href", $(this).attr("href"));
	        			$("#userEdit").attr("action", $(this).attr("href"));
	        			
	        			// Get parent's siblings (table rows) to fill in make and model
	        			var authority = $("#" + $(this).text()).parent().siblings()[1].innerHTML; 
	        			var enabled = $("#" + $(this).text()).parent().siblings()[2].innerHTML;
	        			
	        			$("#inputAuthority").val(authority);
	        			$("#inputEnabled").val(enabled);
	        			
	        			$("#editModalTitle").text("Editing User: " + $(this).text());
	        			$("#editModal").modal();
	        		});
	        		
	        		// Calls AJAX to send JSON
	        		$("#userEdit").submit(function(e) {
	        			e.preventDefault();
	        			editSubmit();
	        			setTimeout(function() {location.reload(true)}, 250);
	        		});
	        	});
	        	
	        	// On press of edit button in edit modal
	        	function editSubmit() {
	        		var splitModalTitle = $("#editModalTitle").text().split(" ");
	        		var username = splitModalTitle[2];
	        		
        			var editDetails = {}
        			editDetails["username"] = username;
        			editDetails["enabled"] = $("#inputEnabled").val();
        			editDetails["authority"] = $("#inputAuthority").val();
        			
        			$.ajax({
        				type : "POST",
        				contentType : "application/json",
        				url : $(".triggerEdit").attr("href"),
        				data : JSON.stringify(editDetails),
        				dataType : 'json',
        				timeout : 100000,
        				success : function(data) {
        					console.log("SUCCESS: ", data);
        				},
        				error : function(e) {
        					console.log("ERROR: ", e);
        				},
        				done : function(e) {
        					console.log("DONE");
        				}
        			});
        		}
	        	
	        	/*<![CDATA[*/
	        	$('#pagination').twbsPagination({
	                totalPages: /*[[${numberPages}]]*/ '1',
	                visiblePages: 10,
	                href: '?page={{pageNumber}}&results=10',
	                hrefVariable: '{{pageNumber}}',
	                first: '&laquo;',
	                prev:  '&lsaquo;',
	                next:  '&rsaquo;',
	                last: '&raquo;',
	            });
	        	/*]]>*/
	        </script>
	        
	        <!-- Confirm Delete Modal -->
	        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Confirm Delete</h4>
			      </div>
			      <div class="modal-body">
			        <p>Are you sure you wish to delete this user?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <a class="btn btn-sm btn-danger deleteButton" th:href="@{/admin/view}">Delete</a>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- Edit User Modal -->
	        <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 id="editModalTitle" class="modal-title">Editing User</h4>
			        
			      </div>
			      <div class="modal-body">
			        <form class="form-signin" id="userEdit" th:action="@{/admin/view}" method="post">
				
						<label for="inputEnabled">Enabled</label>
					    <select class="form-control" id="inputEnabled" name="enabled" >
					        <option value="true">True</option>
					        <option value="false">False</option>
					    </select>
						
						<p />
						
						<label for="inputAuthority">Role</label>
					    <select class="form-control" id="inputAuthority" name="authority" >
					        <option value="ROLE_USER">User</option>
					        <option value="ROLE_ADMIN">Admin</option>
					    </select>
					    
					    <p />
						
						<button class="btn btn-primary" type="submit">Submit</button>
			
					</form>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		
			<div class="inner" th:replace="templates/footer :: 'footer'"></div>
		</div>
	</body>
</html>